.flower{
    width: 1500px;
    height: 750px;
    border: 2px solid black;
    background: radial-gradient(rgb(248, 156, 171), rgb(255, 255, 255), pink);

}

.stick{
    margin: auto;
    width: 15px;
    height: 320px;
    background-origin: 2px solid black;

    background-color: green;
    position: relative;
    margin-top: 350px;
    border-radius: 10px ;
}
.petals{
    position: absolute;
    margin-top: 10px;
    border: 1px solid rgb(241, 59, 89);
    height: 200px;
    width: 200px;
    border-radius: 100% 0 100% 0;
    background-color: rgb(248, 94, 120);
}
.one{
    transform: translate(780px , 390px) rotate(35deg);
}
.two{
    transform: translate(570px ,460px) rotate(60deg);

}
.three{
    transform: translate(650px ,110px) rotate(135deg);
    z-index: 1;

}
.four{
    transform: translate(780px ,210px) rotate(30deg);

}
.five{
    transform: translate(510px ,210px) rotate(60deg);

}
.six{
    transform: translate(745px ,160px) rotate(180deg);
}
.seven{
    transform: translate(550px ,150px) rotate(90deg);
}

.leaves{
    position: absolute;
    margin-top: 10px;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    border-radius: 100% 0 100% 0;
    background-color:rgb(11, 44, 11);

}
.tag{
    text-align: center;
    margin-top: 12px;
    letter-spacing: 50px;
    font-size: 60px;
}